body{
    background-color:pink;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 20px;
}
.image-row {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    gap: 10px;
  }
.image-row img{
    display: flex;
    width: 450px;
    height: 350px;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10%;
}
head{
    background-color:pink;
    color: black;
    font-family: monospace;
    font-size: 80px;  
}
h1{
    display: flex;
    justify-content: center;
}
p {
    text-align: center;
    margin: 0 auto;
    width: 50%;
}