img{
    display: flex;
    width: 550px;
    height: 550px;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5%;
}
h1{
    display: flex;
    justify-content: center;
    background-color: blanchedalmond;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p{
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}